/* Main setup */

@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Titillium+Web:wght@700;900&display=swap");

html {
  font-size: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: transparent;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #373a3c;
}

.han {
  font-family: "Black Han Sans", sans-serif;
}

.titillium {
  font-family: "Titillium Web", sans-serif;
}

.bold {
  font-weight: 700;
}

.black {
  font-weight: 900;
}

.upper {
  text-transform: uppercase;
}

.small {
  font-size: 1rem;
}

.medium {
  font-size: 1.25rem;
}

.big {
  font-size: 2.2rem;
}

/* Nav bar */

nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    position: absolute;
    width: 100%;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 4;
    transition: position 400ms;
}

#ironhide {
    width: 115px;
}

.menu {
  position: fixed;
  top: 83px;
  right: -100%;
  width: 100%;
  background-color: rgb(0,0,0,0);
  transition: right 300ms ease-in 300ms, background-color 300ms ease-out;
}

.menu > div {
  background-color: white;
  width: 18rem;
  margin-left: auto;
  padding: 1.5rem;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

#menu-button {
    transition: opacity 300ms;
}

#close-menu {
    float: right;
}

.menu ul:first-of-type {
    padding-top: 5rem;
}

.menu ul:first-of-type li {
    margin-bottom: 2rem;
}

.menu ul:last-of-type {
    padding-top: 1rem;
}

.menu ul:last-of-type li {
    display: inline-block;
    margin-right: 1rem;
}

/* active states */

nav.active {
    position: fixed;
}

nav.active .menu {
    right: 0;
    background-color: rgba(0,0,0,0.6);
    transition: right 400ms cubic-bezier(.07,1.05,.83,1.01), background-color 300ms ease-in 400ms;
}

nav.active #menu-button {
    opacity: 0;
}

/* main */

main {
  margin-top: 83px;
}

/* Color buttons */

.candy-button {
    padding: 1.25em 3.5em 1em 3.5em;
    border-radius: 0.7em;
    background-image: linear-gradient(#E8551C 50%, 50%, #d14209);
    color: white;
    border: 3px solid #741D07;
    box-shadow: 0 3px 6px rgba(0,0,0,0.4);
}

.candy-button > span {
    margin-right: 0.5em;
}

a.candy-button {
    display: inline-block;
    text-align: center;
}


@media only screen and (min-width: 880px) {

  .small {
    font-size: 1.35rem;
  }

  nav {
    position: static;
    align-items: center;
    gap: 3rem;
  }

  main {
    margin-top: 0;
}

.menu {
  position: initial;
}

#menu-button {
  display: none;
}

#close-menu {
  display: none;
}

.menu > div,
nav.active .menu > div {
  width: auto;
  padding: 0;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.menu ul:first-of-type {
  padding-top: 0;
}

.menu ul:first-of-type li {
  margin-bottom: 0;
  margin-right: 1rem;
}

.menu ul:last-of-type {
  padding-top: 0;
  padding-top: 5.5px;
  margin-right: 0;
}

.menu li {
  display: inline-block;
}


}

@media only screen and (min-width: 1200px) {

  nav {
    padding-left: 10vw;
    padding-right: 10vw;
  }

}