/* kingdom Rush sites general setup */

main {
    margin-top: 83px;
}

.game-title {
    padding: 2.5rem;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Kr landing specific setup */

/* hero */

.kr.game-title {
    background-image: url(../assets/kr/krmain1.png);
}

#kr-logo {
    width: 270px;
}