/* Main content */

main {
    margin-top: 83px;
}

.game-version {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
}

.shadow-layer {
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.title {
    z-index: 2;
    text-align: center;
    margin-top: 6rem;
    height: 184px;
    overflow-y: hidden;
    background-color: aqua;
}

#kr-logo {
    width: 160px;
}

.call-to-action {
    margin-top: 3.5rem;
    transform: scaleY(0);
}

.call-to-action .candy-button {
    width: 12rem;
    padding: 0.6em 2rem 0.4em 2rem;
}

.call-to-action h3 {
    margin-top: 4rem;
    text-shadow: 0 3px 6px rgba(0,0,0,0.4);
    margin-bottom: 0.5rem;
    color: white;
}

.call-to-action li {
    margin-bottom: 0.3rem;
}

/* selected states */

.game-version.selected {
    padding: 2.5rem;
}

#kr-option.selected {
    background-image: url(../assets/KRSteam_-2.png);
}

.selected .title {
    margin-top: 6rem;
}

.selected .call-to-action {
    transform: scaleY(1);
}