/* Main content */

main {
    margin-top: 83px;
}

.game-version {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
}

.shadow-layer {
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.shadow-layer::after {
    content: "";
    display: block;
    width: 100%;
    height: 25px;
    background-image: url(../assets/horizontalbar.png);
    position: absolute;
    bottom: -12.5px;
    z-index: 3;
}

.game-version:last-of-type > .shadow-layer::after {
    display: none;
}


.title {
    z-index: 2;
    text-align: center;
    height: 184px;
    overflow-y: hidden;
    transition: height 400ms cubic-bezier(.39,-0.19,.57,.96);
}

.title-logo {
    height: 100%;
    position: relative;
}

.title-logo > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.call-to-action {
    margin-top: 3.5rem;
    transform: scaleY(0);
}

.call-to-action > * {
    opacity: 0;
}

.call-to-action .candy-button {
    width: 12rem;
    padding: 0.6em 2rem 0.4em 2rem;
    transition: opacity 600ms ease-in-out 600ms;
}

.call-to-action h3 {
    margin-top: 4rem;
    text-shadow: 0 3px 6px rgba(0,0,0,0.4);
    margin-bottom: 0.5rem;
    color: white;
    transition: opacity 600ms ease-in-out 700ms;
}

.call-to-action ul {
    transition: opacity 600ms ease-in-out 800ms;
}

.call-to-action li {
    margin-bottom: 0.3rem;
}

/* Individual blocks */

#kr-option {
    background-image: url(../assets/kr-back.png);
}

#kr-logo {
    width: 160px;
}

#krf-option {
    background-image: url(../assets/krf-back.png);
}

#krf-logo {
    width: 168px;
}

#kro-option {
    background-image: url(../assets/kro-back.png);
}

#kro-logo {
    width: 144px;
}

#krv-option {
    background-image: url(../assets/krv-back.png);
}

#krv-logo {
    width: 154px;
}

/* selected states */

.game-version.selected {
    padding: 2.5rem;
}

.selected .title {
    margin-top: 6rem;
    height: 600px;
    /* height: calc(100vh - 163px); */
}

.selected .title-logo {
    height: initial;
}

.selected .title-logo > img {
    position: initial;
    transform: translate(0, 0);
}

.selected .call-to-action {
    transform: scaleY(1);
}

.selected .call-to-action > * {
    opacity: 1;
}

.selected .shadow-layer {
    background-color: transparent;
    background-image: linear-gradient(transparent, rgba(0,0,0,0.35));
}

/* individual logos resizing */

.selected #kr-logo {
    width: 184px;
}

.selected #krf-logo {
    width: 216px;
}

.selected #kro-logo {
    width: 184px;
}

.selected #krv-logo {
    width: 192px;
}

/* individual backgrounds reset */

#kr-option.selected {
    background-image: url(../assets/KRSteam_-2.png);
}

#krf-option.selected {
    background-image: url(../assets/Mobile_Header.png);
}

#kro-option.selected {
    background-image: url(../assets/kro_home.png);
}

#krv-option.selected {
    background-image: url(../assets/verticalgamecover.png);
}